* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.btn {
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem;
}

.btn-primary {
  background-color: rgb(84, 138, 189);
}

.btn-secondary {
  background-color: gray;
}

.has-error {
  border-color: red;
}