.container {
    box-shadow: 0 1px 4px rgba(0,0,0,.23922);
    border-radius: 6px;
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.2rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    img {
        width: 5rem;
        height: 7rem;
        background-position: center;
        object-fit: cover;
    }
}

.content {
    flex-grow: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.3rem;
}

.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: gray;
}

.title {
    display: flex;
    align-items: center;
    h3 {
      flex-grow: 1;
    }
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      cursor: pointer;
    }
}

@media (min-width: 700px) {
    .container {
        padding: 0.5rem;
        gap: 1rem;
        img {
            width: 7rem;
            height: 7rem;
        } 
    }

    .content {
        flex-grow: 1;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.4rem;
    }
}