div.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  main.layoutMain {
    flex-grow: 1;
    padding: 0rem;
  }
  @media (min-width: 700px) {
    main.layoutMain {
      padding: 1rem;
    }
  }
}