.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000aa;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

@media(min-width: 700px) {
    .modal {
        top: 50%;
        left: 50%;
        bottom: unset;
        right: unset;
        width: 700px;
        min-height: 450px;
        transform: translate(-50%, -50%);
    }
}

.title {
    background-color: lightgrey;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.content {
    padding: 1rem;
}

.close {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}